@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');
* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #282A35;
    line-height: 1.5;
}

h1 {
    display: block;
    margin: 2px 0 -20px 0 !important;
    font-family: 'Source Sans Pro', sans-serif;
}

h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h4 a {

    color: white;
}

select:hover {
    background-color: #04aa6d;

}

a:hover {
    background-color: #04aa6d;

}

/* Navbar */
header {
    background-color: white;
  
}
.topnav {
    overflow: hidden;
    background-color: white;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

.wrapper {
    overflow: hidden;


}

.left {
    width: 5%;

}

.left img {
    width: 100%;
    height: 80px;
    padding: 8px 16px;
}

.middle {
    font-weight: bold;
    width: 50%;
    padding: 0rem 30px;

    color: black;
    display: inline block;


}

.middle select {
    padding: 2rem 16px;
    font-size: 22px;
    border: none;
    font-weight: bold;

}

.middle a {
    text-decoration: none;
    font-size: 22px;
    padding: 2rem 16px;
    color: black;

}

.right {
    width: 45%;
    padding: 18px 16px;

}

.box {

    float: left;
}

.fa {
    display: inline-block;
    font-size: 20px;
    text-rendering: auto;
    transform: translate(0, 0);
}

.icon {
    padding: 1rem 20px;
    font-size: 20px;

}

.button1 {
    border: none;
    vertical-align: middle;
    text-decoration: none;
    color: white;
    font-size: 18px;
    background-color: black;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 1rem 20px;
    font-weight: bold;
}
.right a{
    border-radius: 25px;
}
.button2 {
    border: none;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: #FFC0C7;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 1rem 30px;
    font-weight: bold;
}

.button3 {
    border: none;
    vertical-align: middle;
    text-decoration: none;
    color: black;
    font-size: 18px;
    background-color: #FFF4A3;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    padding: 1rem 35px;
    font-weight: bold;
}

.button4 {

    background-color: #04aa6d;
    text-align: center;
    color: white;
    font-size: 18px;
    padding: 1rem 35px;
    font-weight: bold;
}

/* Navbar */
/* Learn to code section */


.main {
    background-color: #282A35;
    padding-top: 90px;
    padding-bottom: 90px;
}

.content1 {
    padding-left: 90px;
    padding-right: 90px;

    text-align: center;
}

.learntocodeh1 {
    font-size: 70px;
    font-weight: 700;
    color: white;
}

.learntocodeh3 {
    color: #FFC0C7;
    font-weight: 700;
    margin-top: 30px !important;
    font-size: 23px;
}

button {
    display: inline-block;
    text-align: center;
    margin: 0em;
    border-radius: 25px;
    padding: 8px 16px;
    border-width: 1px;
    border: none;
    margin-right: 15px;

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-btn {
    width: 400px;
    height: 45px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 25px 0px 0px 25px;
}

.search-btn {
    width: 100px;
    height: 45px;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 0px 25px 25px 0px;
    background-color: #04aa6d;
    color: white;
}



/* Learn to code section end */
/* HTML section */
.flex-container {
    background-color: #D9EEE1 !important;
    color: black !important;
    margin-top: -10px;
    padding-top: 32px !important;
    padding-bottom: 32px !important;
    display: block;
}

.wrapper3 {
    background-color: #D9EEE1;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 4rem;
}

.left-section {
    text-align: center;
}

.w3-website {
    flex: 1;
}

.left-section h1 {
    font-size: 4rem;
}

.left-section p {
    font-size: 2rem;
}

.left-section a {
    font-size: 1.5rem;
    text-decoration: none;
    display: block;
    width: 220px;
    margin: 1rem auto;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
}

.btn1 {
    background-color: #04AA6D;
    color: white;
}

.btn2 {
    background-color: #FFF4A3 !important;
    color: black !important;
}

.btn3 {
    background-color: rgb(37, 37, 37);
    color: #fff;
}

.btn4 {
    background-color: #FFC0C7 !important;
    color: black !important;
}

.example1 {
    background-color: #E7E9EB;
    padding: 4rem;
    border-radius: 5px;
    box-shadow: 1px 2px 10px #000;
}

.example1 h1 {
    color: black;
    padding-bottom: 1rem;
}

.code {
    background-color: #fff;
    padding: 1rem;
    border-left: 5px solid green;
}

.try-yourself {
    float: left;
    text-decoration: none;
    display: block;
    width: 220px;
    margin: 1rem auto;
    border-radius: 30px;
    padding: 0.5rem 1.5rem;
    background-color: green;
    color: #fff;
}

/* html section */

/* CSS section */
.css {
    background-color: #FFF4A3 !important;
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
}

/* CSS section */

/* Javascript Section */
.javascript {
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    background-color: #282A35;
}

.javascript a {
    width: 280px;
}

/* Javascript Section */
/* Python  Section*/
.python {
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    background-color: #F3ECEA !important;
    color: black !important;

}

/* Python  Section*/

/* SQL  Section*/

.sql {
    padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
    background-color: #96D4D4 !important;
    color: black !important;
}

/* SQL  Section*/

/* php including other languages section --> */
.flex-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #282A35;
}

.flex {
    flex: 1 1 900px;
    padding: 2rem;
    text-align: center;
}

.class1 {
    padding: 5rem;
    width: 400px;
    color: black;
    background-color: #282A35;

}

.border1 {
    border-radius: 5px;
    background-color: #FFC0C7;
    padding: 7rem 24px;
}

h5 {
    font-weight: 400px;
    font-size: 18px;
}

.border a {
    text-decoration: none;
    font-size: 18px;
    margin: auto;
    display: block;
    width: 200px;
    border-radius: 25px;
    background-color: #282A35;
    color: white;
    padding: 8px 16px;

}

.border2 {
    border-radius: 5px;
    background-color: #FFF4A3;
    color: black;
    padding: 24px;
    padding: 7rem 24px;
}

.border3 {
    border-radius: 5px;
    color: black;
    background-color: #F3ECEA;
    padding: 7rem 24px;

}

.border4 {
    border-radius: 5px;
    color: black;
    background-color: #D9EEE1;
    padding: 7rem 24px;
}

.border5 {
    border-radius: 5px;
    color: black;
    background-color: #96D4D4;
    padding: 7rem 24px;
}

.border6 {
    border-radius: 5px;
    color: black;
    background-color: #E7E9EB;
    padding: 7rem 24px;
}

.border7 {
    border-radius: 5px;
    background-color: #FFC0C7;
    padding: 5rem 24px;
}

.border8 {
    border-radius: 5px;
    background-color: #FFF4A3;
    padding: 5rem 24px;
}

/*  <!-- php including other languages section ends here--> */



/* Box Section */

.flex-section1 {
    display: flex;
    flex-wrap: wrap;
    background-color: #282A35;
}

.flex1 {
    flex: 1 1 500px;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.border9 {
    background-color: #F3ECEA !important;
    color: black !important;
    padding: 4rem;
    border-radius: 5px
}

.border10 {
    background-color: #D9EEE1 !important;
    color: black !important;
    padding: 4rem;
    border-radius: 5px
}

/* Box Section */
/*    <!-- Code Editor section --> */
.w3-padding {
    padding: 8px 16px!important;
}
.w3-content, .w3-auto {
    margin-left: auto;
    margin-right: auto;
}
.codeeditorbr-container {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.codeeditorbr-row {
    padding: 10px;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.codeeditorbr-dot {
    margin-top: 5px;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px;
}
.codeeditorbr-row:after {
    content: "";
    display: table;
    clear: both;
}
div {
    display: block;
}
.codeeditorbr-left {
    width: 20%;
}
.codeeditorbr-column {
    float: left;
}
.codeeditorbr-input {
    width: 80%;
    border-radius: 3px;
    border: none;
    background-color: white;
    margin-top: -8px;
    height: 22px;
    color: #666;
    font-size: 14px;
    padding: 5px;
}
.w3-bar {
    position: relative;
    z-index: 4;
    font-size: 18px;
    background-color: white;
    color: #282A35;
}
.w3-bar {
    width: 100%;
    overflow: hidden;
}
.ws-yellow {
    background-color: #FFF4A3!important;
    color: black!important;
}
.w3-bar .w3-bar-item {
    padding: 8px 16px;
    float: left;
    width: auto;
    border: none;
    display: block;
    outline: 0;
}
.codeeditorbr-tablink {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: #ffffff;
}
.ws-btn {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #04AA6D;
    color: #ffffff;
}


.ws-grey {
    background-color: #E7E9EB!important;
    color: black!important;
}
.code-btn {
    font-size: 17px;
    font-family: 'Source Sans Pro', sans-serif;
    border: none;
    border-radius: 5px;
    display: inline-block;
    padding: 6px 18px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #04AA6D;
    color: #ffffff;
}

.yellow {
    background-color: #FFF4A3 !important;
    color: black !important;
}

/*  <!-- Code Editor section ends here--> */
/*  <!-- My Learning section starts here --> */
.padding {
    background-color: #D9EEE1 !important;
    color: black !important;
    text-align: center;
    padding: 5rem;
}

/* <!-- My Learning section ends here --> */
/*   <!-- Become a PRO User section--> */
.padding1 {
    padding: 5rem;
    text-align: center;
}

.pro-caption {
    text-align: center;
    padding: 70px 15px 70px 15px;
    color: white;
}

.pro-caption h1 {
    font-weight: 700;
    font-size: 52px;
    line-height: 55px;
    padding-top: 11px;
    padding-bottom: 20px;
    font-family: Source Sans Pro;
    color: #fff;
    margin: 0;
}

.pro-caption h3 {
    font-size: 25px;
    color: #FFC0C7;
    margin: 19px 0;
}

.pro-caption li {
    font-size: 20px;
    line-height: 36px;
    text-align: left;
    list-style-type: none;
}

.pro-caption a {
    color: white;
}

/* <!-- Become a PRO User section ends here --> */
/*    <!-- Code Game section starts here --> */
.padding2 {
    background-color: #96D4D4 !important;
    color: black !important;
    text-align: center;
    padding: 8rem;
}

/* <!-- Code Game section ends here --> */
/*   <!-- Exercises and Quizzes section--> */
.class2 {
    padding: 3rem;

}

.flex-section2 {
    display: flex;
    justify-content: center;
}

.flex2 {
    width: 800px;
}

.border11 {
    padding: 70px 50px;
    font-size: 35px;
    width: 87%;
    opacity: 0.97;
    border-radius: 5px;
    background-color: #04AA6D !important;
    color: white !important;
}

.border12 {
    padding: 70px 50px;
    font-size: 35px;
    width: 87%;
    opacity: 0.97;
    border-radius: 5px;
    background-color: #FFF4A3 !important;
    color: black !important;
}

/* <!-- Exercises and Quizzes section ends here --> */
/* <!-- Web Templates section starts here --> */

.padding3 {
    background-color: #E7E9EB !important;
    color: black !important;
    text-align: center;
    padding: 5rem;
}

.code-btn1 {
    background-color: black !important;
    color: #ffffff !important;
}

/* <!-- Web Templates section ends here --> */
/* <!-- How To Section starts here --> */
.vl-howto {
    border-left: 50px solid black;
    height: 85px;
    position: absolute;
    left: 50%;
    margin-left: -25px;
}

.btn5 {
    background-color: black !important;
    color: #ffffff !important;
}
#howto_iframe {
    width: 100%;
    border: 6px solid #e3e6e8;
    height: 400px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

/* <!-- How To Section ends here --> */
/* Footer section starts here */
.footer {
    padding: 25px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem 0rem;
}

.quizzes a {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: black;
    padding: 10px 15px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 16px;
    margin-left: 8px;
}

.forum a {
    display: inline-block;
    color: white;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    letter-spacing: 4px;
}

.forum a:hover {
    color: #04aa6d;
}

.socials {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding: 1rem;
}

.socials a {
    padding-left: 2rem;
}

.fa-facebook-square,
.fa-instagram,
.fa-linkedin-square,
.fa-discord {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.about {
    font-size: 20px;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
    text-align: center;
    color: white;
    line-height: 1.5;
}

.about a {
    color: white;
}

.about a:hover {
    color: #04aa6d;
}

.fa-thumbs-o-up {
    color: white;
    font-size: 36px;
    cursor: pointer;
}
.image{
    width: 100%;
}
.gif{
    width: 70%;
}

/* Footer section ends here */
@media screen and(max-width:600px){
    header{
        position: fixed;
        width: 100%;
    }
  .padding1{
    width: 100%;
  }
  .padding2{
    padding: 0px 24px 90px 24px;
  }
  .padding3{
    padding: 0px 24px 90px 24px;
  }
  .image{
    height: 245px;
  }
  .gif{
    width:100%;
  }
  .codeeditorbr-left {
    width: 24%;
}
.codeeditorbr-input {
    margin-left: 15px;
}

.w3-mobile {
    display: block;
    width: 100%!important;
}
h1{
    font-size: 50px !important;
}

#howto_iframe {
    height: 280px;
}
}
@media screen and (max-width: 800px) {
    .topnav a {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
    .left img{
        width:80px;
    }

  }
  
  @media screen and (max-width: 800px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

  }
  @media screen and (max-width: 800px) {
    .topnav1 a {display: none;}
    .topnav1 a.icon1 {
    float: right;
      display: block;
      text-decoration: none;
    }

  }
  
  @media screen and (max-width: 800px) {
    .topnav1.responsive1 {position: relative;}
    .topnav1.responsive1 .icon1 {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav1.responsive1 a {
      float: none;
      display: block;
      text-align: left;
    }

  }
  